Repository superstar0402/wasmd: changes, and which Codecov flags are due for each by the changed paths.
All: core, react, proto

Enhancement: Browser-Specific Export and SeiWallet Function Correction (#96)
  .changeset/lovely-weeks-juggle.md
  packages/core/package.json
  packages/core/src/index-browser.ts
  packages/core/src/index.ts
  packages/core/src/lib/wallet/config.ts
  packages/react/package.json
  packages/react/src/lib/components/WalletSelectModal/WalletSelectModal.tsx
  yarn.lock
Due: core, react

Version Packages (#97)
  .changeset/lovely-weeks-juggle.md
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: core, react

Styled Components (#101)
  .changeset/funny-pumas-sparkle.md
  packages/react/README.md
  packages/react/package.json
  packages/react/src/lib/components/WalletConnectButton/WalletConnectButton.tsx
  packages/react/src/lib/components/WalletConnectButton/styles.css
  packages/react/src/lib/components/WalletConnectButton/styles.ts
  packages/react/src/lib/components/WalletConnectButton/types.ts
  packages/react/src/lib/components/WalletSelectModal/WalletSelectModal.tsx
  packages/react/src/lib/components/WalletSelectModal/styles.css
  packages/react/src/lib/components/WalletSelectModal/styles.ts
  packages/react/src/lib/components/WalletSelectModal/types.ts
  packages/react/src/lib/components/__tests__/WalletConnectButton.spec.tsx
  packages/react/src/lib/utils/__tests__/colors.spec.ts
  packages/react/src/lib/utils/colors.ts
  yarn.lock
Due: react

Version Packages (#102)
  .changeset/funny-pumas-sparkle.md
  packages/react/CHANGELOG.md
  packages/react/package.json
Due: react

Feature: Metamask Snaps (#103)
  .changeset/bright-shoes-attend.md
  .github/workflows/checks.yml
  .github/workflows/coverage.yml
  .prettierignore
  package.json
  packages/core/package.json
  packages/core/src/lib/utils/__tests__/address.spec.ts
  packages/core/src/lib/utils/address.ts
  packages/core/src/lib/utils/index.ts
  packages/core/src/lib/utils/serialize.ts
  packages/core/src/lib/utils/signing.ts
  packages/metamask-snap/.babelrc.js
  packages/metamask-snap/.eslintignore
  packages/metamask-snap/.eslintrc.json
  packages/metamask-snap/README.md
  packages/metamask-snap/images/icon.svg
  packages/metamask-snap/jest.config.lib.ts
  packages/metamask-snap/jest.config.snap.js
  packages/metamask-snap/package.json
  packages/metamask-snap/snap.config.ts
  packages/metamask-snap/snap.manifest.json
  packages/metamask-snap/src/lib/__tests__/snapWallet.spec.ts
  packages/metamask-snap/src/lib/config.ts
  packages/metamask-snap/src/lib/cosmjs.ts
  packages/metamask-snap/src/lib/index.ts
  packages/metamask-snap/src/lib/snapWallet.ts
  packages/metamask-snap/src/lib/types.ts
  packages/metamask-snap/src/snap/api.ts
  packages/metamask-snap/src/snap/index.ts
  packages/metamask-snap/src/snap/tests/ui.spec.ts
  packages/metamask-snap/src/snap/tests/utils.spec.ts
  packages/metamask-snap/src/snap/types.ts
  packages/metamask-snap/src/snap/ui.ts
  packages/metamask-snap/src/snap/utils.ts
  packages/metamask-snap/tsconfig.declarations.json
  packages/metamask-snap/tsconfig.json
  packages/proto/tsconfig.json
  packages/react/tsconfig.json
  project.json
  yarn.lock
Due: core, react, proto

Version Packages (#104)
  .changeset/bright-shoes-attend.md
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: core

Fixed core version
  .changeset/selfish-cars-prove.md
  packages/core/package.json
Due: core

Fixed core version (#105)
  packages/core/CHANGELOG.md
Due: core

Version Packages (#106)
  .changeset/selfish-cars-prove.md
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: core

Version Packages (#116)
  .changeset/nervous-ways-buy.md
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/metamask-snap/CHANGELOG.md
  packages/metamask-snap/package.json
Due: core

Sayfer MM Snap Edits
  packages/metamask-snap/README.md
  packages/metamask-snap/jest.config.js
  packages/metamask-snap/package.json
  packages/metamask-snap/snap.manifest.json
  packages/metamask-snap/src/api.ts
  packages/metamask-snap/src/snapWallet.ts
  packages/metamask-snap/src/tests/mocks/mocks.ts
  packages/metamask-snap/src/tests/mocks/output.mock.ts
  packages/metamask-snap/src/tests/snapWallet.spec.ts
  yarn.lock
Due: none

Revert "Sayfer MM Snap Edits"
  packages/metamask-snap/README.md
  packages/metamask-snap/jest.config.snap.js
  packages/metamask-snap/package.json
  packages/metamask-snap/snap.manifest.json
  packages/metamask-snap/src/api.ts
  packages/metamask-snap/src/snapWallet.ts
  packages/metamask-snap/src/tests/mocks/mocks.ts
  packages/metamask-snap/src/tests/mocks/output.mock.ts
  packages/metamask-snap/src/tests/snapWallet.spec.ts
  yarn.lock
Due: none

Audit: MM Snap Edits (#117)
  .changeset/curvy-squids-cough.md
  packages/metamask-snap/README.md
  packages/metamask-snap/jest.config.js
  packages/metamask-snap/package.json
  packages/metamask-snap/snap.manifest.json
  packages/metamask-snap/src/api.ts
  packages/metamask-snap/src/snapWallet.ts
  packages/metamask-snap/src/tests/mocks/mocks.ts
  packages/metamask-snap/src/tests/mocks/output.mock.ts
  packages/metamask-snap/src/tests/snapWallet.spec.ts
  yarn.lock
Due: none

Version Packages (#118)
  .changeset/curvy-squids-cough.md
  packages/metamask-snap/CHANGELOG.md
  packages/metamask-snap/package.json
Due: none

Add a helper function in sei-js to calculate expected APR. (#119)
  .changeset/young-rocks-sort.md
  packages/core/package.json
  packages/core/src/lib/utils/__tests__/apr.spec.ts
  packages/core/src/lib/utils/apr.ts
  packages/core/tsconfig.json
  yarn.lock
Due: core

Version Packages (#121)
  .changeset/young-rocks-sort.md
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: core

Update index with new apr utils (#122)
  .changeset/great-doors-rest.md
  packages/core/src/lib/utils/index.ts
Due: core

Version Packages (#123)
  .changeset/great-doors-rest.md
  packages/core/CHANGELOG.md
  packages/core/package.json
Due: core

Use read-only access token for nx cloud (#124)
  .github/workflows/release.yml
  nx.json
Due: none

Add documentation for sei-js/react
  packages/react/README.md
  packages/react/src/lib/components/WalletConnectButton/WalletConnectButton.tsx
  packages/react/src/lib/components/WalletSelectModal/WalletSelectModal.tsx
  packages/react/src/lib/hooks/useCosmWasmClient/useCosmWasmClient.ts
  packages/react/src/lib/hooks/useQueryClient/useQueryClient.ts
  packages/react/src/lib/hooks/useSelectWallet/useSelectWallet.ts
  packages/react/src/lib/hooks/useSigningClient/useSigningClient.ts
  packages/react/src/lib/hooks/useSigningCosmWasmClient/useSigningCosmWasmClient.ts
  packages/react/src/lib/hooks/useStargateClient/useStargateClient.ts
  packages/react/src/lib/hooks/useWallet/useWallet.ts
  packages/react/src/lib/provider/SeiWalletProvider.tsx
  packages/react/src/lib/provider/helpers.ts
  packages/react/src/lib/provider/keplrVerification.ts
  packages/react/src/lib/provider/types.ts
  packages/react/src/lib/types/config.ts
  packages/react/src/lib/utils/address.ts
  packages/react/src/lib/utils/colors.ts
  packages/react/src/lib/utils/css.ts
Due: react

Add Typedoc and function documentation (#125)
  .github/workflows/deploydocs.yml
  .gitignore
  EXAMPLES.md
  README.md
  package.json
  packages/core/package.json
  packages/core/src/lib/queryClient/queryClient.ts
  packages/core/src/lib/signingClient/cosmWasmClient.ts
  packages/core/src/lib/signingClient/stargateClient.ts
  packages/core/src/lib/utils/address.ts
  packages/core/src/lib/utils/apr.ts
  packages/core/src/lib/utils/bech32.ts
  packages/core/src/lib/utils/hash.ts
  packages/core/src/lib/utils/serialize.ts
  packages/core/src/lib/utils/signing.ts
  packages/core/src/lib/wallet/types.ts
  packages/core/src/lib/wallet/utils.ts
  packages/core/src/lib/wallet/wallet.ts
  packages/core/typedoc.json
  packages/metamask-snap/snap.manifest.json
  packages/react/package.json
  packages/react/typedoc.json
  typedoc.base.json
  typedoc.config.js
  yarn.lock
Due: core, react

Version Packages (#134)
  .changeset/angry-timers-juggle.md
  packages/cosmjs/CHANGELOG.md
  packages/cosmjs/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/proto/CHANGELOG.md
  packages/proto/package.json
Due: proto

Version Packages (#141)
  .changeset/brave-lies-rescue.md
  packages/proto/CHANGELOG.md
  packages/proto/package.json
Due: proto

Version Packages (#144)
  .changeset/calm-keys-hammer.md
  packages/cosmjs/CHANGELOG.md
  packages/cosmjs/package.json
  packages/evm/CHANGELOG.md
  packages/evm/package.json
  packages/proto/CHANGELOG.md
  packages/proto/package.json
Due: proto

Version Packages (#146)
  .changeset/forty-pears-jump.md
  packages/registry/CHANGELOG.md
  packages/registry/package.json
Due: none

Version Packages (#148)
  .changeset/nasty-dodos-perform.md
  .changeset/new-ads-arrive.md
  packages/cosmjs/CHANGELOG.md
  packages/cosmjs/package.json
  packages/proto/CHANGELOG.md
  packages/proto/package.json
Due: proto

Version Packages (#151)
  .changeset/large-birds-decide.md
  packages/evm/CHANGELOG.md
  packages/evm/package.json
Due: none

Path conditions:
  core: any of: packages/core/**
  react: any of: packages/react/**
  proto: any of: packages/proto/**
